TARGET_BADGE_MAC=AA:BB:CC:DD:EE:FF
UNLOCK_RSSI_THRESHOLD=-60
LOCK_RSSI_THRESHOLD=-80
RSSI_HYSTERESIS=5
UART_BAUD_RATE=115200
BUS_UART_RX_PIN=16
BUS_UART_TX_PIN=17
OE_PIN=25
LED_PIN=2
ENABLE_DEBUG_PRINTS=true
ENABLE_UART_FORWARDING=true
